<!DOCTYPE html>
<html lang="fr">
<head>
    <!--  meta UTF8 for accents  -->
    <meta charset="UTF-8"/>

    <!-- Site's title -->
    <title>Exercices footer</title>

    <!--  Meta tag informations  -->
    <meta name="description" content="Utilisation des footers">
    <meta name="author" content="Juicy">

    <!-- Latest compiled and minified CSS -->
    <!-- jQuery library cdn MOD-->
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous">
    </script>

    <!-- bootstrap library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Call CSS -->
    <link rel="stylesheet" href="../../resources/css/exemples/footers.css">


    <!-- Latest compiled JavaScript bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>

<!--BODY START-->
<body>
    <h4 class="text-center">Page pour les footers</h4>
</body>
<!--END BODY-->


<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!-- Commenter pour cacher -->
<footer class="footer fixed-bottom footer-dark">
    <div class="container">
        <span class="text-muted test"> .. Contenue du footer fixé en bas de page ..</span>
    </div>
</footer>

<br/>

<!--<footer class="footer fixed-bottom footer-brown">-->
<!--        <span class="text-muted test"> .. Contenue du footer fixé en bas de page ..</span>-->
<!--</footer>-->

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

