<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <title>Kévin Da Silva</title>
    <!--  Meta tag informations  -->
    <meta name="description" content="Mon premier remake">
    <meta name="author" content="Juicy">
    <!-- Latest compiled and minified CSS -->
    <!-- jQuery library cdn MOD-->
    <!--    <script-->
    <!--            src="https://code.jquery.com/jquery-3.4.1.slim.js"-->
    <!--            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="-->
    <!--            crossorigin="anonymous">-->
    <!--    </script>-->

    <!-- bootstrap library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js'></script>
    <script  src="../../resources/css/script.js"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  font awesome  -->
    <script src="https://kit.fontawesome.com/d95978ea8c.js"></script>

    <link  rel="stylesheet" href="../../resources/css/moncv.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<!--NAVIGATION BAR -->
<nav style="background-color: #293C40" class="navbar navbar-expand-lg navbar-light sticky-top " id="navbar">
    <div id="haut" class="container">
        <!-- LOGO - NAVBAR  -->
        <a class="navbar-brand" href="#">
            <img src="../../resources/img/nav.png"
                 alt="Mon CV"
                 style="size: auto"/>
        </a>
        <!-- Menu hamburger -->
        <button class="navbar-toggler without-border" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span> <!--logo hamburger-->

        </button>
        <!--  Les liens  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto float-right ">
                <li class="nav-item">
                    <a class="nav-link " href="#presentation" style="color: red"><strong>Présentation</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#formation" style="color: white"><strong>Formations</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#competences" style="color: white"><strong>Compétences</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#experience" style="color: white"><strong>Expériences</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#centre_d_interet" style="color: white"><strong>Centres d'intérêt</strong></a>
                </li>
                <li class="nav-item " >
                    <a class="nav-link text-uppercase" href="#contact" style="color: white"><strong>contact</strong></a>
                </li>
            </ul>
        </div>
        <div style="position: relative; float: right">

        <a href="#" target="_blank">
            <img style="size: auto" class="img-fluid" src="../../resources/img/fr.png" alt="Langue FR" >
        </a>

        <a style="padding-left: 10px" href="#" target="_blank">
            <img style="size: auto" class="img-fluid" src="../../resources/img/uk.png" alt="Langue UK" >
        </a>
        </div>
    </div>
</nav>
<!--FIN NAVIGATION BAR -->
<! -- Début Partie Présentation -->
<br>
<div style="background-color: whitesmoke ; border-color: #44acac" class=" card container shadow-lg ">
    <br>
<h1 id="presentation" class="titre ">
    Présentation
</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-4">

            <div class="cardpresentation">
                <img style="size: auto" class="img-fluid px-3 " src="../../resources/img/cv.png"
                     alt="Photo de CV"/>
                <h1>Kévin DA SILVA</h1>
                <p class="title">Passionné & Déterminé</p>
                <p class="bold"> Kévin DA SILVA</p>
                <p class="bold"> 22 ans </p>
                <p class="bold"> 76000 Rouen </p>
                <p class="bold"> Permis B avec Voiture </p>
                <a href="#contact"><button class="bouton">Contact</button></a>
            </div>

        </div>
        <div class="col-7 py-4">
<br>
                <h2 class="recherche"><ins> En Recherche Active d'un poste de Chargé de Communication </ins></h2>
            <br>
            <br>
            <br>
            <br>
            <br>
               <p style="text-align: justify" class="textpresentation" > Ancien étudiant en DUT Techniques de Commercialisation, je recherche un
                   poste dans le domaine de la Communication qui puisse me permettre de lier ce que je sais faire et
                   ce qui me passionne. Doté d'une facilité d'apprentissage et d'adaptation, je donnerai le meilleur
                   de moi-même en intégrant votre équipe.
               </p>
            <div style="padding-top: 80px">
                <a href="../../resources/img/CV-kevin-dasilva.pdf" style="position: relative; float: right " class="btn button download" download><i class="fa fa-download"></i> Mon CV PDF
                </a>
            </div>
        </div>
    </div>
</div>
    <br>
</div>
<br>
<! -- Fin de présentation -->
<! -- Début Formation -->
<br>

<div style="border-color: #44acac" class="card container">
    <h1 id="formation" class="card-header titre">
        <img src="../../resources/img/formation.png">
        Formations
    </h1>
    <div class="container py-2 mt-4 mb-4">
        <!-- timeline item 1 -->
        <div class="row no-gutters">
            <div class="col-sm"> <!--spacer--> </div>
            <!-- timeline item 1 center dot -->
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col border-right">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill dot1">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <!-- timeline item 1 event content -->
            <div class="col-sm py-2">
                <div class="card timelinecolor1 container">
                    <div class="card-body container ">
                        <div style="color: #44acac" class="float-right small">Rouen, Novembre 2019 - Janvier 2020</div>
                        <h4 style="color: #44acac" class="card-title ">Conseiller en gestion de patrimoine | Capfinances</h4>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <p>• Formation Technique (Produits Financiers):</p>
                                    <p style="padding-left: 20px">-PER</p>
                                    <p style="padding-left: 20px">-Assurance Vie</p>
                                    <p style="padding-left: 20px">-Immobilier</p>
                                    <p style="padding-left: 20px">-Crédit</p>
                                </div>
                                <div class="col">
                                    <p>• Formation Commerciale:</p>
                                    <p style="padding-left: 20px">-Prospection</p>
                                    <p style="padding-left: 20px">-Approche Client</p>
                                    <p style="padding-left: 20px">-Découverte des Besoins</p>
                                    <p style="padding-left: 20px">-Conception de projet et Proposition de Solution à long terme</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <!-- timeline item 2 -->
        <div class="row no-gutters">
            <div class="col-sm py-2">
                <div class="card timelinecolor1 shadow">
                    <div class="card-body container">
                        <div style="color: #44acac " class="float-right small">Rouen, 2015 - 2017</div>
                        <h4 style="color: #44acac" class="card-title">DUT Techniques de Commercialisation | IUT</h4>
                        <p class="card-text">• Création d'une start-up en Entrepreneuriat durant la deuxième année</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill dot1">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col-sm"> <!--spacer--> </div>
        </div>
        <!--/row-->
        <!-- timeline item 3 -->
        <div class="row no-gutters">
            <div class="col-sm"> <!--spacer--> </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill dot1 border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col-sm py-2">
                <div class="card container timelinecolor1">
                    <div class="card-body container">
                        <div style="color: #44acac" class="float-right small">Vernon, 2012 - 2015</div>
                        <h4 style="color: #44acac" class="card-title">Bac Scientifique Mention Assez Bien | Lycée Georges Dumézil</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<! -- Fin de Formation -->
<! -- Début Compétences -->
<br>
<div style="border-color: #44acac" class="card container">
    <h1 id="competences" class="card-header titre">
        <img src="../../resources/img/competences.png"
        alt="Logo Compétences">
        Compétences
    </h1>
    <div class="card-body container">
        <div class="row text-center">
            <div class="col">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-briefcase"></i>
                    <h5 class="fontDancingScript display-5 text-center text-uppercase">Commerciales</h5>
                    <p class="fontHind">
                        • Prospection (Téléphone/Porte à porte/Réseau)
                    </p>
                    <p class="fontHind">
                        • Accueil/Conseil/Vente
                    </p>
                    <p class="fontHind">
                        • Gestion de la Relation Client
                    </p>
                </div>
            </div>
            <div class="col">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-poll"></i>
                    <h5 class="fontDancingScript display-5 text-center text-uppercase">Marketing</h5>
                    <p class="fontHind">
                        • Enquêtes de satisfaction, études de cas client
                    </p>
                    <p class="fontHind">
                        • Études qualitatives et quantitatives
                    </p>
                    <p class="fontHind">
                        • Analyses comparatives
                    </p>
                    <p class="fontHind">
                        • Recommandations stratégiques
                    </p>
                    <p class="fontHind">
                        • Gestion de projets
                    </p>
                </div>
            </div>
            <div class="col">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fas fa-pencil-alt"></i>
                    <h5 class="fontDancingScript display-5 text-center text-uppercase">Communication</h5>
                    <p class="fontHind">
                        • Création de contenus visuels (Présentation, Affiche, Brochure)
                    </p>
                    <p class="fontHind">
                        • Création de Plan de Communication
                    </p>
                    <p class="fontHind">
                        • Veille concurrentielle, sectorielle, consommateur
                    </p>
                </div>
            </div>
        </div>
        <br>
        <h5 class="display-5 text-center text-uppercase">Linguistiques</h5>
        <br>
        <div class="row text-center">
            <div class="col">
                • PORTUGAIS (Lu/Parlé)
                <div class="progress">
                    <div  class="progress-bar progress-bar-striped progress-bar-animated bg-success " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                </div>
            </div>
            <div class="col">
                • ESPAGNOL (Lu/Écrit/Parlé)
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                </div>
            </div>
            <div class="col">
                • ANGLAIS (Lu/Écrit/Parlé)
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <h5 class="display-5 text-center text-uppercase">Bureautiques</h5>
        <br>
        <div class="row container text-center">
            <div class="col dark-background ">
                <img src="../../resources/img/office.png"
                     alt="Pack Office">
                <figcaption class="figure-caption ">Pack Office</figcaption>
            </div>
            <div class="col pink-background">
                <a href="https://www.canva.com/design/DADyZAzzOd4/PwvY8vqEEevj_fpVebPOFg/view?utm_content=DADyZAzzOd4&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton" target="_blank">
                    <img src="../../resources/img/canva.png"
                         alt="CV Canva">
                </a>
                    <figcaption class="figure-caption ">Mon CV créé sur Canva</figcaption>
            </div>
            <div class="col green-background">
                <img src="../../resources/img/media.png"
                     alt="Réseaux Sociaux">
                <figcaption class="figure-caption ">Médias Sociaux</figcaption>
            </div>
        </div>
        </div>
    </div>

<br>
<! -- Fin de Compétences -->
<! -- Début de Expériences -->
<br>
<div style="border-color: #44acac" class="card container">
    <h1 id="experience" class="card-header titre">
        <img src="../../resources/img/experience.png"
             alt="Flèche d'expérience">
        Expériences
    </h1>
<br>
    <div style="background-color: whitesmoke ; border-color: #44acac " class="card container">
        <div class="card-body container">
            <div class="row">
                <div class="col-7">
                    <br>
                    <h1 class="titrecard">Vendeur Polyvalent | Janvier 2019 - Septembre 2019</h1>
                    <p class="textcard bold pad"> Carrefour City</p>
                    <p class="textcard bold">
                        <img src="../../resources/img/localisation.png"
                             alt="Localisation">
                        Rouen, Seine-Maritime </p>
                    <p class="textcard bold">
                        <img src="../../resources/img/calendrier.png"
                             alt="Calendrier">
                        CDD </p>
                </div>
                <div class="col-5">

                    <div class="card-img">
                        <img style="size: auto ; border-radius: 25%" class="img-fluid px-3 " src="../../resources/img/carrefour.jpg"
                             alt="Paysage"/>
                    </div>
                </div>
            </div>
            <a class="button " data-toggle="collapse" href="#carrefour" role="button"
               aria-expanded="false" aria-controls="carrefour">Descriptif de l'emploi </a>
            <div class="collapse multi-collapse show" id="carrefour">
                <div style="background-color: whitesmoke; border-color: black" class="card card-body card-img">
                    <div class="text-center container ">
                        <div class="row ">
                            <div class="col">
                                <p>• Accueil, Conseil Client, Vente et Fidélisation Clientèle</p>
                                <p>• Implantation d'un produit dans le magasin</p>
                            </div>
                            <div class="col">
                                <p>• Facing & merchandising</p>
                                <p>• Gestion d'une caisse</p>
                            </div>
                            <div class="col">
                                <p>• Entretien des locaux</p>
                                <p>• Mise en place des OAV</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br>
    <div style="background-color: whitesmoke ; border-color: #44acac" class="card container">
        <div class="card-body container">
            <div class="row">
                <div class="col-7">
                    <br>
                    <h1 class="titrecard">Conseiller Vendeur | Décembre 2018 - Janvier 2019</h1>
                    <p class="textcard bold pad"> Eismann </p>
                    <p class="textcard bold">
                        <img src="../../resources/img/localisation.png"
                             alt="Localisation">
                        Pacy-Sur-Eure, Eure </p>
                    <p class="textcard bold">
                        <img src="../../resources/img/calendrier.png"
                             alt="Calendrier">
                        CDD </p>
                </div>
                <div class="col-5">

                    <div class="card-img">
                        <img style="size: auto ; border-radius: 25%" class="img-fluid px-3 " src="../../resources/img/eismann.jpg"
                             alt="Glace"/>
                    </div>
                </div>
            </div>
            <a class="button " data-toggle="collapse" href="#eismann" role="button"
               aria-expanded="false" aria-controls="eismann">Descriptif de l'emploi </a>
            <div class="collapse multi-collapse show" id="eismann">
                <div style="background-color: whitesmoke; border-color: black" class="card card-body card-img">
                    <div class=" text-center container ">
                        <div class="row text-center">
                            <div class="col">
                                <p>• Prospection porte à porte / Téléprospection</p>
                            </div>
                            <div class="col">
                                <p>• Prise de commande</p>
                            </div>
                            <div class="col">
                                <p>• Livraison + Vente direct</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
    <div style="background-color: whitesmoke ; border-color: #44acac" class="card container">
        <div class="card-body container">
            <div class="row">
                <div class="col-7">
                    <br>
                    <h1 class="titrecard">Projets Personnels | 2017 - 2018</h1>
                    <p class="textcard bold pad"> Adecco & RAS Intérim </p>
                    <p class="textcard bold">
                        <img src="../../resources/img/localisation.png"
                             alt="Localisation">
                         </p>
                    <p class="textcard bold">
                        <img src="../../resources/img/calendrier.png"
                             alt="Calendrier">
                        Intérim </p>
                </div>
                <div class="col-5">

                    <div class="card-img">
                        <img style="size: auto ; border-radius: 25%" class="img-fluid px-3 " src="../../resources/img/road.jpg"
                             alt="Paysage"/>
                    </div>
                </div>
            </div>
            <a class="button" data-toggle="collapse" href="#road" role="button"
               aria-expanded="false" aria-controls="road">Descriptif de l'emploi </a>
            <div class="collapse multi-collapse show" id="road">
                <div style="background-color: whitesmoke; border-color: black" class="card card-body card-img">
                    <div class=" text-center container ">
                        <p class="text-center">• Diverses missions intérimaires (Manutention, Inventoriste, Déchargement)</p>
                        <p class="text-center">• Voyages</p>
                        <p class="text-center">• Conception de projets entrepreneuriaux :</p>
                        <p class="text-center">Business Plan (PESTEL, CANVAS, SWOT)</p>
                        <p class="text-center"> Dossier Marketing (Influenceurs, SEO, Marketing Mix)</p>
                        <p class="text-center"> Elaboration de stratégies de communication (Site, E-mailing, Choix des Médias)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
    <br>
    <br>
<br>
<! -- Fin de Expérience -->
<! -- Début Centres d'intérêt -->
<br>
<div style="border-color: #44acac" class="card container">
    <h1 id="centre_d_interet" class="card-header titre">
        <img src="../../resources/img/centredinteret.png">
        Centres d'Intérêts
    </h1>
    <div class="card-body container">
            <h5 class="display-5 text-center text-uppercase">Les Sports Collectifs</h5>
            <div class="row">
                <div class="col">
                    <img class="img-fluid rounded shadow-lg" src="../../resources/img/basket.jpg"
                         alt="Panier de Basket-Ball">
                    <figcaption class="figure-caption ">Basket-ball</figcaption>
                </div>
                <div class="col">
                    <img class="img-fluid rounded shadow-lg" src="../../resources/img/foot.jpg"
                         alt="Image d'un ballon dans un stade de football">
                    <figcaption class="figure-caption text-right">Football</figcaption>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <h5 class="display-5 text-center text-uppercase">Mes voyages</h5>
            <br>
            <div class="row">
                <div class="col">
                    <img style="border-radius: 20%" class="img-fluid px-4" src="../../resources/img/espagne.png"
                         alt="Drapeau Espagne">
                </div>
                <div class="col">
                    <img style="border-radius: 20%" class="img-fluid px-4" src="../../resources/img/portugal.png"
                         alt="Drapeau Portugal">
                </div>
                <div class="col">
                    <img style="border-radius: 20%" class="img-fluid px-4" src="../../resources/img/paysbas.png"
                         alt="Drapeau Pays-Bas">
                </div>
                <div class="col">
                    <img class="img-fluid px-4" src="../../resources/img/irlande.png"
                         alt="Drapeau Irlande"
                         style="height: auto; border-radius: 20%">
                </div>
                <div class="col">
                    <img style="border-radius: 20%" class="img-fluid px-4" src="../../resources/img/angleterre.png"
                         alt="Drapeau Angleterre">
                </div>
                <div class="col">
                    <img style="border-radius: 20%" class="img-fluid px-4" src="../../resources/img/belgique.png"
                         alt="Drapeau Belgique">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <h5 class="display-5 text-center text-uppercase">Divertissements</h5>
            <br>
            <div class="row">
                <div class="col">
                    <img style="border-radius: 20%" class="img-fluid " src="../../resources/img/photoshop.png"
                         alt="Photoshop">
                </div>
                <div class="col">
                    <img class="img-fluid " src="../../resources/img/html.png"
                         alt="HTML">
                </div>
                <div class="col">
                    <img class="img-fluid " src="../../resources/img/css.png"
                         alt="CSS">
                </div>
                <div class="col">
                    <img class="img-fluid " src="../../resources/img/cuisine.png"
                         alt="Cuisine">
                </div>
                <div class="col">
                    <img style="border-radius: 20%" class="img-fluid " src="../../resources/img/lire.png"
                         alt="Lecture">
                </div>
                <div class="col">
                    <img style="padding-top: 25px" class="img-fluid " src="../../resources/img/ps4.png"
                         alt="Jeux-Vidéos">
                </div>
                <div class="col">
                    <img class="img-fluid " src="../../resources/img/guitare.png"
                         ALT="Guitare">
                </div>
            </div>
        </div>
    <br>
    </div>
<! -- Fin de Centre d'intérêt -->
    <! -- Début CONTACT -->
<footer class="page-footer pt-4">
    <div class="container text-center text-md-left">
        <h1 id="contact" class=" titre">
            <img src="../../resources/img/contact.png"
            alt="Logo Contact">
            Contact
        </h1>
                <h5 class="display-5 text-center"> Enfin, il vous est possible de me joindre:
                </h5>
                <br>
                <div class="row">
                    <div class="col">
                        <div style="text-align: center">
                            <h5 class="display-5 text-center">À cette adresse mail</h5>
                            <img class="img-fluid" src="../../resources/img/mail.png" alt="Adresse Mail" style="height: auto">
                        </div>
                    </div>
                    <div class="col">
                        <div style="text-align: center">
                            <h5 class="display-5 text-center">À ce numéro</h5>
                            <img class="img-fluid" src="../../resources/img/telephone.png"
                                 alt="Numéro de Téléphone" >
                        </div>
                    </div>
                    <div class="col">
                        <div style="text-align: center">
                            <h5 class="display-5 text-center">Mais également sur Linkedin</h5>
                            <a href="https://www.linkedin.com/in/kévin-da-silva-238682165" target="_blank">
                                <img style="height: 50px ; width: 50px" class="img-fluid" src="../../resources/img/linkedin.png" alt="Logo Linkedin" >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
</footer>

<! -- Fin de CONTACT -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded " href="#" id="go-to-top">
    <i class="fas fa-angle-double-up"></i>
</a>


<script>
    /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-500px";
        }
        prevScrollpos = currentScrollPos;
    }

    $(function()
    {
        function scrollTopSmooth(event) {

            document.querySelector("#page-top").scrollIntoView({
                behavior: 'smooth'
            });
            return false;
        }
        $('#go-to-top').click(scrollTopSmooth);
    });

</script>
</body>
</html>