<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <title>Kévin Da Silva</title>
    <!--  Meta tag informations  -->
    <meta name="description" content="Mon premier remake">
    <meta name="author" content="Juicy">
    <!-- Latest compiled and minified CSS -->
    <!-- jQuery library cdn MOD-->
    <!--    <script-->
    <!--            src="https://code.jquery.com/jquery-3.4.1.slim.js"-->
    <!--            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="-->
    <!--            crossorigin="anonymous">-->
    <!--    </script>-->

    <!-- bootstrap library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <!--  font awesome  -->
    <script src="https://kit.fontawesome.com/d95978ea8c.js"></script>

    <link  rel="stylesheet" href="../../resources/css/moncv.css"/>

</head>

<body>
<!--NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm background_color_nav sticky-top" id="navbar">
    <div id="haut" class="container">

        <!-- LOGO - NAVBAR  -->
        <a class="navbar-brand" href="#">
            <img src="https://image.flaticon.com/icons/svg/2275/2275242.svg"
                 alt="Mon CV"
                 style="width:150px;height:76.42px;"/> </a>
        <!-- Menu hamburger -->
        <button class="navbar-toggler without-border" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span> <!--logo hamburger-->

        </button>
        <!--  Les liens  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto float-right ">
                <li class="nav-item">
                    <a class="nav-link shadow-sm" href="#presentation" style="color: red"><strong>Présentation</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link shadow-sm" href="#formation" style="color: black"><strong>Formation</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link shadow-sm" href="#experience" style="color: black"><strong>Expérience</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link shadow-sm" href="#competences" style="color: black"><strong>Compétences</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link shadow-sm" href="#centre_d_interet" style="color: black"><strong>Centre d'intérêt</strong></a>
                </li>
                <li class="nav-item shadow-sm" >
                    <a class="nav-link text-uppercase" href="#contact" style="color: black"><strong>contact</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--FIN NAVIGATION BAR -->
<! -- Début Partie Présentation -->
<br>
<h1 id="presentation" class="titre">Présentation</h1>
<hr>

<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid px-5" src="../../resources/img/cv.jpg"
                alt="Photo de CV"
                 style="width:200px;height:150px;"
            />
        </div>

        <div class="col-8 py-5">
               <p class="textpresentation"> Ancien étudiant en Commerce, je recherche un poste dans le Marketing qui puisse me permettre
                d'allier ce que je sais faire et ce qui me passionne. Doté d'une facilité d'apprentissage et
                d'adaptation, je donnerais le meilleur de moi-même en intégrant votre équipe.
               </p>
        </div>
    </div>


</div>
<! -- Fin de présentation -->
<! -- Début Formation -->
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button id="formation" class="btn btn-link btn-block text-center titre dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <img src="../../resources/img/formation.png"
                    alt="Diplôme">
                    Formation
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <h5 class="display-5 text-center">Conseiller en gestion de patrimoine</h5>
                <div class="container">
                    <p class="textformation"> capfinances - Rouen I Novembre 2019 - Janvier 2020 </p>

                    <br>

                    <div class="row">
                        <div class="col">
                            <ul><li>Formation Technique (Différents produits financiers type PER, Assurance Vie, Immobilier, Crédit)</li></ul>
                        </div>
                        <div class="col">
                            <ul><li>Formation Commerciale (Prospection, Approche Client, Découverte des Besoins, Conception de projet et Proposition de Solution à long terme)</li></ul>
                        </div>
                    </div>
                </div>

                <h5 class="display-5 text-center">DUT Techniques de Commercialisation</h5>
                <p class="textformation"> iut de rouen I 2015 - 2017 </p>

                <div class="text-center">
                    • Création d'une start-up en Entrepreneuriat durant la deuxième année
                </div>


                <br>

                <h5 class="display-5 text-center">Bac Scientifique Mention Assez Bien</h5>

                <p class="textformation"> lycée georges dumézil de vernon I 2012 - 2015 </p>




            </div>
        </div>
    </div>
</div>
<! -- Fin de Formation -->
<! -- Début Expérience -->
<div id="accordion2">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button id="experience" class="btn btn-link btn-block text-center titre dropdown-toggle" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <img src="../../resources/img/experience.jpg"
                         alt="Flèche d'expérience">
                    Expérience
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
            <div class="card-body">
                <h5 class="display-5 text-center">Vendeur Polyvalent</h5>
                <p class="textformation"> carrefour city rouen - pasteur i janvier 2019 - août 2019</p>
                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">

                        <ul>
                            <li>Accueil, Conseil Client, Vente et Fidélisation Clientèle</li>
                            <li>Implantation d'un produit dans le magasin</li>
                            <li>Facing & merchandising</li>
                            <li>Gestion d'une caisse</li>
                            <li>Entreten des locaux</li>
                            <li>Mise en place des OAV</li>

                        </ul>
                    </div>
                    <div class="col"></div>
                </div>
                <br>
                <h5 class="display-5 text-center">Conseiller vendeur</h5>
                <p class="textformation">eismann pacy i decembre 2018 - janvier 2019</p>
                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">
                        <ul>
                            <li class="text-center">Prospection porte à porte / Téléprospection </li>
                            <li class="text-center">Prise de commande</li>
                            <li class="text-center">Livraison + Vente direct</li>
                        </ul>

                    </div>
                    <div class="col"></div>
                </div>

                <br>
                <h5 class="display-5 text-center">Projets personnels</h5>
                <p class="textformation"> 2017 - 2018 </p>
                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">
                        <ul>
                            <li class="text-center">Diverses missions intérimaires (Manutention, Inventoriste, Déchargement) </li>
                            <li class="text-center">Voyage (Portugal, Irlande)</li>
                            <li class="text-center">Conception de projets entrepreneuriaux :</li>
                        </ul>

                    </div>
                    <div class="col"></div>
                </div>
                <br>
                <p class="text-center">Business Plan (PESTEL, CANVAS, SWOT)</p>
                <p class="text-center"> Dossier Marketing (Influenceurs, SEO, Marketing Mix)</p>
                <p class="text-center"> Elaboration de stratégies de communication (Site, E-mailing, Choix des Médias)</p>
            </div>
        </div>
    </div>

</div>
<!-- logo sur le gros titre -->
<! -- Fin de Expérience -->
<! -- Début Compétences -->

<div id="accordion3">
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button id="competences" class="btn btn-link btn-block text-center titre dropdown-toggle" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Compétences
                </button>
            </h5>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
            <div class="card-body">
                <h5 class="display-5 text-center">Commerciales</h5>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <ul>
                            <li>Accueil/Conseil/Vente</li>
                            <li>Prospection (Téléphone/Porte à porte/Réseau)</li>
                            <li>Gestion de la Relation Client</li>
                        </ul>

                    </div>
                    <div class="col"></div>
                </div>

                <h5 class="display-5 text-center">Communication</h5>
                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">
                        <ul>
                            <li>Création de contenus visuels (Présentation, Affiche, Brochure)</li>
                            <li>Création de Plan de Communication</li>
                            <li>Veille concurrentielle, sectorielle, consommateur</li>
                        </ul>

                    </div>²
                    <div class="col"></div>
                </div>

                <h5 class="display-5 text-center">Marketing</h5>
                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">
                        <ul>
                            <li>Enquête de satisfaction, étude de cas client</li>
                            <li>Études qualitatives et quantitatives</li>
                            <li>Analyses comparatives</li>
                            <li>Recommandations stratégiques</li>
                            <li>Gestion de projet</li>
                        </ul>

                    </div>
                    <div class="col"></div>
                </div>

                <h5 class="display-5 text-center">Linguistiques</h5>
                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">
                        <ul>
                            <li>ANGLAIS (Lu/Écrit/Parlé)</li>
                            <li>ESPAGNOL (Lu/Écrit/Parlé)</li>
                            <li>PORTUGAIS (Lu/Parlé)</li>
                        </ul>

                    </div>
                    <div class="col"></div>
                </div>

                <h5 class="display-5 text-center ">Bureautiques</h5>
                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">
                        <ul>
                            <li>Pack Office (Word, Excel, Publisher, Powerpoint)</li>
                            <li>Connaissances Adobe Photoshop et Indesign</li>
                            <li>Connaissances HTML & CSS</li>
                            <li>Création Graphique (Canva)</li>
                            <li>Médias Sociaux</li>
                        </ul>

                    </div>
                    <div class="col"></div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- faire des onglets ouvrable pour voir les compétences-->

<! -- barre de chargement pour le niveau de langue  -->
<! -- Fin de Compétences -->

<! -- Début Centre d'intérêt -->
<div id="accordion4">
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button id="centre_d_interet" class="btn btn-link btn-block text-center titre dropdown-toggle" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Centre d'intérêt
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion4">
            <div class="card-body">
                <div class="container">
                    <h5 class="display-5 text-center">Les Sports Collectifs</h5>
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid rounded shadow-lg" src="../../resources/img/basket.jpg">
                            <figcaption class="figure-caption ">Basket-ball</figcaption>
                        </div>
                        <div class="col">
                            <img class="img-fluid rounded shadow-lg" src="../../resources/img/foot.jpg">
                            <figcaption class="figure-caption text-right">Football</figcaption>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="container">
                    <h5 class="display-5 text-center">Les voyages</h5>
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid px-4" src="../../resources/img/espagne.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid px-4" src="../../resources/img/portugal.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid px-4" src="../../resources/img/paysbas.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid px-4" src="../../resources/img/irlande.png"
                            style="height: 85px">
                        </div>
                        <div class="col">
                            <img class="img-fluid px-4" src="../../resources/img/angleterre.png">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="container">
                    <h5 class="display-5 text-center">Divertissement</h5>
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid " src="../../resources/img/photoshop.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid " src="../../resources/img/html.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid " src="../../resources/img/css.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid " src="../../resources/img/netflix.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid " src="../../resources/img/lire.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid " src="../../resources/img/ps4.png">
                        </div>
                        <div class="col">
                            <img class="img-fluid " src="../../resources/img/guitare.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<! -- Fin de Centre d'intérêt -->
<! -- Début A propos -->
<div id="accordion5">
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button id="contact" class="btn btn-link btn-block text-center titre dropdown-toggle" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    contact
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion5">
            <div class="card-body">
                <h5 class="display-5 text-center">Enfin, il vous est possible de me joindre:</h5>
                <br>
                <div class="row">
                    <div class="col">
                        <div style="text-align: center">
                        <h5 class="display-5 text-center">A cette adresse mail:</h5>
                        <img class="img-fluid" src="../../resources/img/mail.png" alt="Adresse Mail" style="height: auto">
                        </div>
                    </div>
                    <div class="col">
                        <div style="text-align: center">
                        <h5 class="display-5 text-center">A ce numéro:</h5>
                        <img class="img-fluid" src="../../resources/img/telephone.png"
                        alt="Numéro de Téléphone" >
                        </div>
                    </div>
                    <div class="col">
                        <div style="text-align: center">
                        <h5 class="display-5 text-center">Mais également sur Linkedin</h5>
                        <a href="https://www.linkedin.com/in/kévin-da-silva-238682165" target="_blank">
                            <img class="img-fluid" src="../../resources/img/linkedin.png" alt="Logo Linkedin" >
                        </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<! -- Fin de A propos -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded " href="#" id="go-to-top">
    ←←←
</a>


<script>
    /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-500px";
        }
        prevScrollpos = currentScrollPos;
    }

    $(function()
    {
        function scrollTopSmooth(event) {

            document.querySelector("#page-top").scrollIntoView({
                behavior: 'smooth'
            });
            return false;
        }
        $('#go-to-top').click(scrollTopSmooth);
    });
</script>
</body>
</html>