/*gérer la taille des bordures*/

.title {
    font-size: 7px;
    color:#444444;
    font-family: sans-serif;
}
.padding-top
{
    padding: 20px 0 0;
}

.btn-radius
{
    border-radius: 20px;
}

.text-jumbotron
{
    color:#373736;
    font-size: 30px;
    max-height:36px;
    font-family: Raleway, sans-serif;
}
.text-jumbotron-2
{
    color:#373736;
    font-size: 30px;
    max-height:36px;
    font-family: Raleway, sans-serif;
}

/*selectionner nom_a_trouver puis appuyer sur ctrl+f6 (click : refactor : rename)*/
.nom_a_trouver
{
    text-align: center;
    font-style: italic ;
    font-size: 17px;
}

.center-elements
{
    text-align: center;
}