.background_color_nav{
    background-image: linear-gradient(to bottom, silver, white);
}

.bodycolor {
    background-color: #C0C0C0;
}

.textpresentation {
    font-style: Italic;
    font-family: Raleway, sans-serif;

  }

.titre {

    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #08605f;
}

.textformation {

    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    font-size: large;
}

.titre2 {
    text-align: center;
    color: #444444;
}

/*.listealigne {*/

/*    list-style: square;*/
/*    line-height: center;*/
/*    margin: auto;*/
/*    text-align: justify;*/
/*}*/
