


/*<!-- style texte  -->*/

.single-service
{
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 30px 20px;
    margin-right: 60px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16)
}
.single-service:before {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #FF7200;
    left: 0;
    top: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}
.single-service:after {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #FF7200;
    right: 0;
    bottom: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}
.single-service:hover:after,
.single-service:hover:before {
    width: 50%;
    height: 2px;
    -webkit-transition: .3s;
    transition: .3s
}
.single-service:hover {
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}
.single-service i.fa,
.single-service i.fas
{
    font-size: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    line-height: 60px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}
.single-service:hover i.fa,
.single-service:hover i.fas
{
    background-color: #FF7200;
    color: #fff;
    border-color: #FF7200;
    border-radius: 0;
}
.single-service h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.single-service p {
    font-size: 15px;
    line-height: 1.8;
}
/*<!-- style texte  -->*/
h1 {

    font-family: "Trebuchet MS";
}

body {
    background-image: linear-gradient(to bottom, #189992, white);
    background-color: #189992;
    /*    font-family: verdana,arial,helvetica,sans-serif;*/
    /*    font-size: small;*/
    /*    background-color: #FFFFFF;*/
    /*    color: #000000;*/
    /*    margin-top: 0px;*/
    color:#333333;
    font-family: open, sans-serif;
    line-height:1.5em;
    margin:0;
    padding:13px 0;
}
.recherche {

    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.bold {

    font-weight: bold;
}

.textpresentation {
    font-style: Italic;
    font-family: Raleway, sans-serif;

}

.titre {

    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    color: #08605f;
}

.textformation {

    font-family:georgia,"times new   roman",times,serif;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    font-size: large;
}


.title {
    color: grey;
    font-size: 18px;
}

.textcard{

    font-family:Raleway, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: large;
}

.titrecard {
    color: grey;
    font-size: xx-large;
}

.pad {
    padding-left: 32px;
}
/*<!-- Couleur   -->*/

.titre2
{
    color: #444444;
}

.timelinecolor1 {
border-color: #44acac;
}
.dot1 {
    background-color:#44acac
}
.timelinecolor2 {
    border-color: #57b5b0;
}
.dot2 {
    background-color:#57b5b0 ;
}
.timelinecolor3 {
    border-color: #6cbcbb;
}
.dot3 {
    background-color:#6cbcbb
}
/*<!-- Navbar   -->*/

.bouton:hover, a:hover {
    opacity: 0.7;
}



.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 55px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #150909;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: #0a0606;
}

.scroll-to-top:hover {
    /*background: #343a40;*/
}

.scroll-to-top i {
    font-weight: 800;

}

html
{
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;

}
#navbar {

    transition: top 1.2s; /* Transition effect when sliding down (and up) */
}

.bouton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}


.cardpresentation {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.card {

    border-radius: 20px !important;
}

.button {
    background-color: #08605f; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
}

