html
{
    scroll-behavior: smooth;
}
#navbar {

    transition: top 1.2s; /* Transition effect when sliding down (and up) */
}


.background_color_nav{
    background-image: linear-gradient(to bottom, silver, white);
}

.bodycolor {
    background-color: #C0C0C0;
}

.textpresentation {
    font-style: Italic;
    font-family: Raleway, sans-serif;

  }

.titre {

    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #08605f;
}

.textformation {

    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    font-size: large;
}

.titre2
{
    color: #444444;
}

/*.listealigne {*/

/*    list-style: square;*/
/*    line-height: center;*/
/*    margin: auto;*/
/*    text-align: justify;*/
/*}*/




/*Button scroll to top*/

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 55px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #150909;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: #0a0606;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}